<!DOCTYPE html>
<html>
<head>
  <title>DataModel</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery.treemenu.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body >

  <div class="container">
    <ul class="tree">
      <li><a href="#">Organize</a></span>        
        <ul>
          <li><a href="#">User</a>
            <ul>
              <li><a href="#">Category</a>
                <ul>
                  <li><a href="#">Stage</a>
                    <ul>
                      <li><a href="#">Task</a>
                        <ul>
                          <li><a href="#">Subtask</a>
                            <!-- Subtask data -->
                            <ul>
                              <li><a href="#">Data</a>
                                <ul>
                                  <li><a href="#">dataID :</a></li>
                                  <li><a href="#">dataType :</a></li>
                                  <li><a href="#">attachmentFTOlinks :</a></li>
                                  <li><a href="#">chatroom :</a></li>
                                  <li><a href="#">DataHolder</a>
                                    <ul>
                                      <li><a href="#">versionKeeped :</a></li>
                                    </ul>
                                    <li><a href="#">DataContent</a>
                                      <ul>
                                        <li><a href="#">SHA256 :</a></li>
                                        <li><a href="#">Timestamp :</a></li>
                                        <li><a href="#">isDiff :</a></li>
                                        <li><a href="#">ObjectBinary1</a>
                                          <ul>
                                            <li><a href="#">Schemacode :</a></li>
                                            <li><a href="#">byteCount :</a></li>
                                            <li><a href="#">data :</a></li>
                                          </ul>
                                        </li>
                                        <li><a href="#">ObjectBinary2</a>
                                          <ul>
                                            <li><a href="#">Schemacode :</a></li>
                                            <li><a href="#">byteCount :</a></li>
                                            <li><a href="#">data :</a></li>
                                          </ul>
                                        </li>
                                        <li><a href="#">ObjectBinary3</a>
                                          <ul>
                                            <li><a href="#">Schemacode :</a></li>
                                            <li><a href="#">byteCount :</a></li>
                                            <li><a href="#">data :</a></li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <!-- Task data -->
                          <ul>
                            <li><a href="#">Data</a>
                              <ul>
                                <li><a href="#">dataID :</a></li>
                                <li><a href="#">dataType :</a></li>
                                <li><a href="#">attachmentFTOlinks :</a></li>
                                <li><a href="#">chatroom :</a></li>
                                <li><a href="#">DataHolder</a>
                                  <ul>
                                    <li><a href="#">versionKeeped :</a></li>
                                  </ul>
                                  <li><a href="#">DataContent</a>
                                    <ul>
                                      <li><a href="#">SHA256 :</a></li>
                                      <li><a href="#">Timestamp :</a></li>
                                      <li><a href="#">isDiff :</a></li>
                                      <li><a href="#">ObjectBinary1</a>
                                        <ul>
                                          <li><a href="#">Schemacode :</a></li>
                                          <li><a href="#">byteCount :</a></li>
                                          <li><a href="#">data :</a></li>
                                        </ul>
                                      </li>
                                      <li><a href="#">ObjectBinary2</a>
                                        <ul>
                                          <li><a href="#">Schemacode :</a></li>
                                          <li><a href="#">byteCount :</a></li>
                                          <li><a href="#">data :</a></li>
                                        </ul>
                                      </li>
                                      <li><a href="#">ObjectBinary3</a>
                                        <ul>
                                          <li><a href="#">Schemacode :</a></li>
                                          <li><a href="#">byteCount :</a></li>
                                          <li><a href="#">data :</a></li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                        <!-- Stage data -->
                        <ul>
                          <li><a href="#">Data</a>
                            <ul>
                              <li><a href="#">dataID :</a></li>
                              <li><a href="#">dataType :</a></li>
                              <li><a href="#">attachmentFTOlinks :</a></li>
                              <li><a href="#">chatroom :</a></li>
                              <li><a href="#">DataHolder</a>
                                <ul>
                                  <li><a href="#">versionKeeped :</a></li>
                                </ul>
                                <li><a href="#">DataContent</a>
                                  <ul>
                                    <li><a href="#">SHA256 :</a></li>
                                    <li><a href="#">Timestamp :</a></li>
                                    <li><a href="#">isDiff :</a></li>
                                    <li><a href="#">ObjectBinary1</a>
                                      <ul>
                                        <li><a href="#">Schemacode :</a></li>
                                        <li><a href="#">byteCount :</a></li>
                                        <li><a href="#">data :</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="#">ObjectBinary2</a>
                                      <ul>
                                        <li><a href="#">Schemacode :</a></li>
                                        <li><a href="#">byteCount :</a></li>
                                        <li><a href="#">data :</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="#">ObjectBinary3</a>
                                      <ul>
                                        <li><a href="#">Schemacode :</a></li>
                                        <li><a href="#">byteCount :</a></li>
                                        <li><a href="#">data :</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <!-- Category data -->
                      <ul>
                        <li><a href="#">Data</a>
                          <ul>
                            <li><a href="#">dataID :</a></li>
                            <li><a href="#">dataType :</a></li>
                            <li><a href="#">attachmentFTOlinks :</a></li>
                            <li><a href="#">chatroom :</a></li>
                            <li><a href="#">DataHolder</a>
                              <ul>
                                <li><a href="#">versionKeeped :</a></li>
                              </ul>
                              <li><a href="#">DataContent</a>
                                <ul>
                                  <li><a href="#">SHA256 :</a></li>
                                  <li><a href="#">Timestamp :</a></li>
                                  <li><a href="#">isDiff :</a></li>
                                  <li><a href="#">ObjectBinary1</a>
                                    <ul>
                                      <li><a href="#">Schemacode :</a></li>
                                      <li><a href="#">byteCount :</a></li>
                                      <li><a href="#">data :</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">ObjectBinary2</a>
                                    <ul>
                                      <li><a href="#">Schemacode :</a></li>
                                      <li><a href="#">byteCount :</a></li>
                                      <li><a href="#">data :</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">ObjectBinary3</a>
                                    <ul>
                                      <li><a href="#">Schemacode :</a></li>
                                      <li><a href="#">byteCount :</a></li>
                                      <li><a href="#">data :</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <!-- User data -->
                    <ul>
                      <li><a href="#">Data</a>
                        <ul>
                          <li><a href="#">dataID :</a><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                          <li><a href="#">dataType :</a><input type="text"></li>
                          <li><a href="#">attachmentFTOlinks :</a></li>
                          <li><a href="#">chatroom :</a></li>
                          <li><a href="#">DataHolder</a>
                            <ul>
                              <li><a href="#">versionKeeped :</a></li>
                            </ul>
                            <li><a href="#">DataContent</a>
                              <ul>
                                <li><a href="#">SHA256 :</a></li>
                                <li><a href="#">Timestamp :</a></li>
                                <li><a href="#">isDiff :</a></li>
                                <li><a href="#">ObjectBinary1</a>
                                  <ul>
                                    <li><a href="#">Schemacode :</a></li>
                                    <li><a href="#">byteCount :</a></li>
                                    <li><a href="#">data :</a></li>
                                  </ul>
                                </li>
                                <li><a href="#">ObjectBinary2</a>
                                  <ul>
                                    <li><a href="#">Schemacode :</a></li>
                                    <li><a href="#">byteCount :</a></li>
                                    <li><a href="#">data :</a></li>
                                  </ul>
                                </li>
                                <li><a href="#">ObjectBinary3</a>
                                  <ul>
                                    <li><a href="#">Schemacode :</a></li>
                                    <li><a href="#">byteCount :</a></li>
                                    <li><a href="#">data :</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>


              <ul class="tree" id="menu2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">Create</button>
              </ul>
            </div>

            <!-- modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                  </div>
                  <div class="modal-body">
                    <p>Some text in the modal.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- modal Create Obj-->
            <div class="modal fade" id="CreateModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-inline">
                      <label>Type: </label>
                      <select class="form-control type" id="SelectType">
                        <option disabled selected>Select your type</option>
                        <option>User</option>
                        <option>Data</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createObj()">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

  <!-- <script src="js/react-0.13.3.js"></script>
  <script src="js/JSXTransformer-0.13.3.js"></script>
  <script src="/socket.io/socket.io.js"></script> -->
  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/bootstrap3.3.5.js"></script>
  <script src="js/jquery.treemenu.js"></script>

  <script>
  $(".tree").treemenu({delay:200}).openActive();
  </script>
  <!-- liveload -->
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>
